body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
header{
    background-color: rgb(21, 68, 139);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}
footer{
    background-color: rgb(21, 68, 139);
    color: white;
    text-align: center;
    padding: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    gap: 20px;
}
.profile{
    text-align: center;
}
.profile img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: fadeln 2s;
}
@keyframes fadeln{
    from{opacity: 0;}
    to{opacity: 1;} 0 #000;
}
@media(max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }
}